#one_rounded_button {
  	-fx-border-radius: 30;
  	-fx-background-radius: 30;
  	-fx-background-color: #D7E7F9;
  	-fx-font-size:20;
	-fx-font-family: "Roboto";
	-fx-effect: dropshadow(three-pass-box, rgb(0,0,0,0.5), 0, 1.0, 0, 3);
}

#hover_button {
  	-fx-border-radius: 30;
  	-fx-background-radius: 30;
  	-fx-background-color: #A6CCFA;
  	-fx-font-size:20;
	-fx-font-family: "Roboto";
	-fx-effect: dropshadow(three-pass-box, rgb(0,0,0,0.5), 0, 1.0, 0, 3);
}

#pressed_button {
  	-fx-border-radius: 30;
  	-fx-background-radius: 30;
  	-fx-background-color: #A6CCFA;
  	-fx-font-size:20;
	-fx-font-family: "Roboto";
}

#left_panel {
	-fx-background-color: #E5F1FF;
	-fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-max-height: 600;
    -fx-pref-width: 300;
    -fx-padding:30;
    -fx-alignment: center;
}

#welcome_text {
	-fx-font-size : 30;
	-fx-font-family: "Roboto";
	-fx-font-weight: bold;
	-fx-font-alignment: center;
}

#subVbox {
    -fx-background-color: #E5F1FF;
    -fx-spacing:30;
}

#border_pane {
	-fx-background-color: linear-gradient(to bottom right, #71BEE3, #B2CEDC);
	-fx-padding: 50;
}

#scroll_bar_left_panel {
	-fx-vbar-policy: never;
    -fx-fit-to-width: true;
    -fx-max-height: 600;
    -fx-background-color:transparent;
}

#scroll_bar_center_panel {
	-fx-vbar-policy: never;
    -fx-fit-to-width: true;
    -fx-max-height:500;
    -fx-background-color:transparent;
}

#center_panel {
	-fx-background-color: #E5F1FF;
	-fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-max-height: 600;
    -fx-max-width: 450;
    -fx-padding: 30;
}

#right_panel {
	-fx-background-color: #E5F1FF;
	-fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-max-height: 600;
    -fx-pref-width: 300;
    -fx-padding:30;
    -fx-alignment: center;
}

#center_rectangle {
    -fx-width: 200;
    -fx-height: 250;
	-fx-arc-height: 60;
	-fx-arc-width: 60;
	-fx-fill: #FFFFFF ;	
}

#center_text {
	-fx-font-size : 30;
	-fx-font-family: "Roboto";
	-fx-font-weight: bold;
	-fx-font-alignment: center;
}

#toggle_button_clicked_action {
	-fx-background-radius: 25;
 	-fx-min-width: 25px; 
	-fx-min-height: 25px;  
	-fx-max-width: 25px;  
	-fx-max-height: 25px;
	-fx-background-color: #006BCD;
}

#toggle_button {
	-fx-background-radius: 25;
 	-fx-min-width: 25px; 
	-fx-min-height: 25px;  
	-fx-max-width: 25px;  
	-fx-max-height: 25px;
	-fx-background-color: #C4C4C4;
}

